ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li:first-child {
    float: left;
}
li:not(:first-child){
  float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
  text-align: center;
 }

section {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.left-panel{  float: left; width: 50%; }

.right-panel{  float: right; width: 50%; }

body{font-family: "Verdana", Sans-serif;}

input, button, label{font-size: 30px;}

input{width: 60px; height: 30px;}
